<body>
  <div class="container">
    <p class="card-panel hoverable  blue lighten-1"><img class="imm" src="{{ User.avatar_url }}" /></p>

   



    

    <div class="divider"></div>
    <div class="section">
      <h5>Repositories</h5>
      <p>Name :{{ User.name }}</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <p> Repos :{{ User.repo }}</p>
    </div>
    <div class="show-on-small hide-on-large-only">
      <p>

        BUY A LAPTOP BRO !!!

      </p>
    </div>

    <div>



      
      <h2 class="card">{{ User.name }} REPOSITORIES</h2>


      <div *ngFor='let l of Repository'>


        <div class="divider"></div>
        <div class="section section2 green accent-2">

          <p>Name of repo : {{l.name}}</p>
        </div>


        <div class="divider  "></div>
        <div   class="section section2 lime lighten-2">

          <p  class="des  " > Description : "{{l.description }}"</p>
        </div>



      </div>
    </div>
  </div>
  
</body>